Set font family and size
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Set the label text color and size */
  label {
    color: #6bbda5;
    font-size: 18px;
  }
  
  /* Set the select and input fields border and padding */
  select,
  input[type="number"],
  input[type="radio"] {
    border: 1px solid #ffffff;
    padding: 6px 10px;
  }
  
  /* Set the select field background color */
  select {
    background-color: #ffffff;
  }
  
  /* Set the radio button label margin */
  label[for*="gender"] {
    margin-right: 10px;
  }
  
  /* Set the submit button background color, text color, and padding
  button[type="submit"] {
    background-color: #94f6f4;
    color: rgb(11, 11, 11);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Set the submit button hover effect */
  button[type="submit"]:hover {
    background-color: #d71f1f;
  } */ 
  
  /* Set the form container width and margin */
  form {
    width: 80%;
    margin: 0 auto;
  }

  input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: rgb(0, 0, 0); /* White text color */
    padding: 12px 20px; /* Padding around the button text */
    border: none; /* Remove button border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add cursor on hover */
  }
  
  /* Add a hover effect */
  input[type="submit"]:hover {
    background-color: #88f1dc; /* Darker green background on hover */
    }