body {
	font-family: Arial, sans-serif;
	margin: 0;
}

header {
    background-color: #060500;
    color: #ff9d00;
    border: #000000;
    padding: 20px;
    text-align: center;
  }

nav{
    background-color: #2E30A3;
    padding: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: RIGHT;
}

nav li {
	display: inline-block;
	margin-right: 20px;
	position: RIGHT;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	position: RIGHT;
}

nav a:hover {
	/* color: #9e5d5d; */
    color: #000000;
    background-color: #ff9d00;
	position: RIGHT;
    padding: 10px 15px;
    border-radius: 10px;
}

button {
	background-color: #96ff99;
	border: none;
	color: rgb(163, 130, 130);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	
}

main {
	margin: 50px;
}

section {
	margin-bottom: 50px;
}

h2 {
	font-size: 28px;
	margin-bottom: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

blockquote {
	border-left: 5px solid #4c6cb17b;
	padding: 10px;
	margin: 0;
}

blockquote p {
	margin: 0;
}

footer {
    background-color: #2E30A3;
    padding: 10px;
    color: aliceblue;
    text-align: center;
}


.rohit {
    padding: 20px;
    background-color: #FFFAD7;
    border-radius: 10px;
    /* border-color: #2E30A3; */
    box-shadow: 0 10px 20px 0 #2E30A3;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease-in-out;
}
  
.rohit:hover {
   transform: scale(1.05);
}

.about-para {
    animation-name: myanimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
