html, body {
  height: 100%;
  margin: 0;
}
  
body {
  display: flex;
  flex-direction: column;
  /* background-color: #fbe8b2; */
  background-color: #fef5f5 ;
  font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: center;
    background-color: #655DBB;
    border: #000000;
    padding: 10px;
    /* text-align: center; */
}

header div{
    width: 50%;
    height: 60px;
    align-items: left;
}
#logo-img{
	max-height: 50px;
}

#logo-name{
    color: #faeeb7  ;
    text-align: center;
    text-shadow: 0 0 10px #FFD700;
			background: linear-gradient(to right, #FFD700, #FFFFE0);
			-webkit-background-clip: text;
			-moz-background-clip: text;
			background-clip: text;
}

#logo-name:hover{
    transform: scale(1.1);
    color: #ff9d00;
    text-emphasis-color: #ff9d00;
}

nav{
    /* align-items: center; */
    font-weight: bold;
    background-color:#BFACE2;
    padding: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: RIGHT;
}

nav li {
	display: inline;
	margin-right: 20px;
	position: RIGHT;
}

nav a {
  background-color: #fef5f5;
  color: #21081a;
  border: 1px solid #fef5f5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #d4af37;
  color: #fef5f5;
  border: 1px solid #d4af37;
}
  
main {
  flex-grow: 1;
}

#predict-button-gradient {
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font-size:20px;
    height:10rem;
    width:10rem;
    border-radius:50%;
    background:#000000;
    /* box-shodow:inset 20px 20px 39px #670a10, */
      /* inset -20px -20px 39px #1b263e; */
    position:relative;
    cursor:pointer;
    border:none;
    outline:none;
    transition: all 0.3s ease-in-out;
  }
  
  #predict-button-gradient::after {
    content:'';
    position:absolute;
    left:-8px;
    top:-8px;
    height:calc(10rem + 10px);
    width:calc(10rem + 10px);
    /* background:#000000; */
    background:linear-gradient(35deg, rgb(134, 232, 220),
    #655DBB,rgb(243, 255, 108));
    border-radius:50%;
    z-index:-1;
    filter:blur(3px);
    transition: all 0.3s ease-in-out;
  }
  
  #predict-button-gradient:hover {
    transform: scale(1.05);
  }
  
  #predict-button-gradient:hover::after {
    animation:rotate 3s linear infinite;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
footer {
    background-color: #6457f8;
	padding: 0px;
	color: aliceblue;
    text-align: center;
    flex-shrink: 0;
    align-self: flex-end;
    width: 100%;
    height: 40px;
}

#footer-line{
    padding: 0px;
    /* background-color: rgb(255, 234, 0); */
    background-color:#BFACE2 ;
}

#footer-main{
    padding: 10px 10px 10px 10px;
    background-color:  #655DBB;
    height: fit-content;

}
/* form home page  */



main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

article {
  border: 1px solid #ccc;
  padding: 20px;
}

article h3 {
  font-size: 20px;
}

article p {
  margin-bottom: 0;
}

article a {
  display: inline-block;
  margin-top: 10px;
  background-color: #1a1a1a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

li h3 {
  margin-bottom: 5px;
}
/* form pradic bootan */

.gradient-color{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  font-size:20px;
  height:10rem;
  width:10rem;
  border-radius:50%;
  background:#000000;
  /* box-shodow:inset 20px 20px 39px #670a10, */
    /* inset -20px -20px 39px #1b263e; */
  position:relative;
  cursor:pointer;
}

.gradient-color::after{
  content:'';
  position:absolute;
  left:-8px;
  top:-8px;
  height:calc(10rem + 10px);
  width:calc(10rem + 10px);
  background:linear-gradient(35deg, rgb(134, 232, 220),deeppink,rgb(243, 255, 108));
  border-radius:50%;
  z-index:-1;
  filter:blur(3px);
}
.gradient-color:hover::after{
      animation:rotate 1s linear infinite;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: rgb(255, 255, 255);
}

@keyframes rotate{
    to {
      transform:rotate(360deg);
    }
  }
    




/* From about page */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes myanimation {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  
 
  @keyframes myanimation {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  li {
    animation-name: myanimation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  h1,img {
    margin: 0;
    /* Apply animation to h1 tag */
    animation: slideIn 1s ease-in-out;
  }



/* Team CSS */
.container {

  padding: 5px;
  margin: auto;
  border-radius: 5ex;
  background-color: BFACE2;
  
}
body{
  background-color: #ECF2FF;
}


.box1 img,
.box1:after,
.box1:before {
  max-width: 20%;
  max-height: 30%;
  transition: all .3s ease 0s;
  width: 40rem;
  height: 300rem;
}

.box1 .icon,
.box2,
.box3,
.box4,
.box5 .icon li a {
  text-align: right;
}

.box10:after,
.box10:before,
.box1:after,
.box1:before,
.box2 .inner-content:after,
.box3:after,
.box3:before,
.box4:before,
.box5:after,
.box5:before,
.box6:after,
.box7:after,
.box7:before {
  content: right;
}

.box1,
.box11,
.box12,
.box13,
.box14,
.box16,
.box17,
.box18,
.box2,
.box20,
.box21,
.box3,
.box4,
.box5,
.box5 .icon li a,
.box6,
.box7,
.box8 {
  overflow: hidden
}

.box1 .title,
.box10 .title,
.box4 .title,
.box7 .title {
  letter-spacing: 1px
}

.box3 .post,
.box4 .post,
.box5 .post,
.box7 .post {
  font-style: italic
}

body {
  background-color: #ffffff
}

.mt-30 {
  margin-top: 30px
}

.mt-40 {
  margin-top: 40px
}

.mb-30 {
  margin-bottom: 30px
}

.box1 .icon,
.box1 .title {
  margin: 8px;
  position: absolute
}

.box1 {
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  position: relative
}

.box1:after,
.box1:before {
  height: 500%;
  background: rgba(0, 0, 0, .5);
  position: auto;
  top: 0;
  left: 0;
  z-index: 1;
  transform-origin: 100% 0;
  transform: rotateZ(90deg)
}

.box1:after {
  top: auto;
  bottom: 0;
  transform-origin: 0 100%
}

.box1:hover:after,
.box1:hover:before {
  transform: rotate3d(3)
}

.box1 img {
  height: auto;
  transform: scale(1) rotate(0)
}

.box1:hover img {
  filter: sepia(80%);
  transform: scale(1.1) rotate(10deg)
}

.box1 .title {
  font-size: 14px;
  font-weight: 600;
  color: #5bceff;
  text-transform: uppercase;
  text-shadow: 0 0 1px #95accf;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  z-index: 2;
  transform: scale(0);
  transition: all .5s ease .2s
}

.box1:hover .title {
  opacity: 1;
  transform: scale(1)
}

.box1 .icon {
  padding: 7px 7px;
  list-style: none;
  background: #004cbf;
  border-radius: 0 0 0 10px;
  top: -100%;
  right: 0;
  z-index: 2;
  transition: all .3s ease .2s
}

.box1:hover .icon {
  top: 0
}

.box1 .icon li {
  display: block;
  margin: 10px 0
}

.box1 .icon li a {
  display: calc(98 67);
  width: 10px;
  height: 10px;
  line-height: 35px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  transition: all .3s ease 0s
}

.box2 .icon li a,
.box3 .icon a:hover,
.box4 .icon li a:hover,
.box5 .icon li a,
.box6 .icon li a {
  border-radius: 50%
}

.box1 .icon li a:hover {
  color: #fff;
  box-shadow: 0 0 10px #000 inset, 0 0 0 3px #fff
}

@media only screen and (max-width:990px) {
  .box1 {
      margin-bottom: 30px
  }
}
